h4, ol, p {
  margin: 0;
}

html {
  height: 100%;
  font-family: sans-serif;
}

body {
  height: 100%;
  margin: 0;
  min-height: 550px;
  min-width: 404px;

  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  width: 400px;
  min-height: 500px;
  position: relative;

  border: 2px solid black;
}

#help {
  height: 45px;
  width: 404px;
  box-sizing: border-box;
  border: 2px solid black;
  border-bottom: none;
  padding: 10px;
}

#help-contents {
  font-size: 14px;
  position: absolute;
  background: white;
  z-index: 1;
  border: 2px solid black;
  padding: 10px;
  width: 368px;
}

#sky {
  width: 400px;
  height: 400px;
  position: absolute;
  overflow: clip;

  background: skyblue;
}

#ground {
  width: 400px;
  height: 100px;
  position: absolute;
  top: 400px;

  background: rosybrown;
  border-top: 2px solid black;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
}

#pipe-top {
  width: 50px;
  height: 100px;
  position: absolute;
  left: calc(400px - 54px - 5px);

  background: seagreen;
  border: 2px solid black;
  border-top: none;
}

#pipe-bot {
  width: 50px;
  height: 150px;
  position: absolute;
  left: calc(400px - 54px - 5px);
  bottom: 0px;

  background: seagreen;
  border: 2px solid black;
  border-bottom: none;
}

#bird {
  height: 25px;
  width: 25px;
  position: absolute;
  top: calc(400px/2 - 25px/2 - 30px);
  left: calc(400px/2 - 25px/2);

  border: 2px solid black;
  background: lightyellow;
}

#popup {
  width: 150px;
  position: absolute;
  top: 200px;
  left: 125px;
  padding: 10px;

  background: white;
  border: 2px solid black;
  text-align: center;
}

p {
  margin-bottom: 10px;
  line-height: 1.3;
}

h4 {
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}
