h4,
ol,
p {
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: sans-serif;

  height: 100%;
  margin: 0;
  min-height: 550px;
  min-width: 404px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#game {
  width: 400px;
  min-height: 500px;
  position: relative;

  border: 2px solid black;
  border-top: none;
}

#help summary {
  height: 45px;
  width: 404px;
  box-sizing: border-box;
  padding: 10px;
  outline: none;

  border: 2px solid black;
}

#help-contents {
  width: 404px;
  height: 400px;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  padding: 10px;

  border: 2px solid black;
  border-top: none;
  border-bottom: none;
  font-size: 14px;
  background: white;
}

#sky {
  width: 400px;
  height: 400px;
  position: relative;
  overflow: clip;

  background: skyblue;
}

#ground {
  width: 400px;
  height: 100px;

  background: rosybrown;
  border-top: 2px solid black;

  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
}

#pipe-top {
  width: 50px;
  height: 100px;
  position: absolute;
  left: calc(400px - 54px - 5px);

  background: seagreen;
  border: 2px solid black;
  border-top: none;
}

#pipe-bot {
  width: 50px;
  height: 150px;
  position: absolute;
  left: calc(400px - 54px - 5px);
  bottom: 0px;

  background: seagreen;
  border: 2px solid black;
  border-bottom: none;
}

#bird {
  height: 25px;
  width: 25px;
  position: absolute;
  top: calc((400px / 2) - (25px / 2) - 30px);
  left: calc((400px / 2) - (25px / 2));

  border: 2px solid black;
  background: lightyellow;
}

#prompt {
  width: 150px;
  position: absolute;
  top: 200px;
  left: 125px;
  padding: 10px;

  background: white;
  border: 2px solid black;
  text-align: center;
}

p {
  margin-bottom: 10px;
  line-height: 1.4;
}

ol p {
  margin-bottom: 5px;
}

h4 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 10px;
}
