h4,
ol,
p {
  margin: 0;
}

p {
  margin-bottom: 10px;
  line-height: 1.4;
}

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  line-height: 1;

  height: 100%;
  margin: 0;
  min-height: 524px;
  min-width: 404px;

  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 45px;
  width: 404px;
  box-sizing: border-box;
  padding: 10px;
  border: 2px solid Black;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#help summary {
  text-decoration: underline;
  cursor: pointer;
}

#help-contents {
  width: 404px;
  min-height: 404px;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  padding: 10px;

  border: 2px solid Black;
  font-size: 14px;
  background: White;
  left: -2px;
  top: 41px;
}

ol p {
  margin-bottom: 5px;
}

h4 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 10px;
}

#sky {
  border: 2px solid Black;
  border-top: none;

  width: 400px;
  height: 400px;
  position: relative;
  overflow: clip;

  background: LightSkyBlue;
}

footer {
  width: 400px;
  height: 75px;

  border: 2px solid Black;
  border-top: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

#score-board {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  flex-direction: column;

  position: relative;
  /* Perfectly centers score-board on Score: */
  /* 400/2 - 77/2 = 162 */
  /* 180 - 162 = 18 */
  left: -18px;
}

#pipe-top {
  width: 50px;
  height: 100px;
  position: absolute;
  left: calc(400px - 52px);

  background: MediumAquamarine;
  border: 2px solid Black;
  border-top: none;
}

#pipe-bot {
  width: 50px;
  height: 150px;
  position: absolute;
  left: calc(400px - 52px);
  bottom: 0px;

  background: MediumAquamarine;
  border: 2px solid Black;
  border-bottom: none;
}

#bird {
  height: 25px;
  width: 25px;
  position: absolute;
  top: calc((402px / 2) - (29px / 2) - 30px);
  left: calc((402px / 2) - (29px / 2));

  border: 2px solid Black;
  background: LemonChiffon;
}

#prompt {
  min-width: 200px;
  max-width: 300px;
  /* Not sure why this has to be explicitly set but it does.
   * Can be removed if left: is removed. */
  width: max-content;
  position: absolute;
  top: calc(50% + 40px);
  left: calc(50%);
  transform: translate(-50%, -50%);
  padding: 10px;

  background: White;
  border: 2px solid Black;
  text-align: center;

  line-height: 1.4;
}

#prompt p {
  margin-bottom: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background: Black;
    color: White;
  }
  header {
    border-color: White;
  }
  #help-contents {
    background: Black;
    border-color: White;
  }
  a {
    color: #84d3f5;
  }
  a:visited {
    color: #cc99ff;
  }
  #sky {
    background: DarkSlateBlue;
    border-color: White;
  }
  #pipe-top {
    background: LightSeaGreen;
    border-color: White;
  }
  #pipe-bot {
    background: LightSeaGreen;
    border-color: White;
  }
  #bird {
    background: HotPink;
    border-color: White;
  }
  #prompt {
    background: Black;
    border-color: White;
  }
  footer {
    background: Black;
    border-color: White;
  }
}
