h4,
ol,
p {
  margin: 0;
}

p {
  margin-bottom: 10px;
  line-height: 1.4;
}

html {
  height: 100%;
}

body {
  font-family: sans-serif;

  height: 100%;
  margin: 0;
  min-height: 550px;
  min-width: 404px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#game {
  width: 400px;
  min-height: 500px;
  position: relative;

  border: 2px solid black;
  border-top: none;
}

#help summary {
  height: 45px;
  width: 404px;
  box-sizing: border-box;
  padding: 10px;
  outline: none;

  border: 2px solid black;

  display: flex;
  align-items: center;
  text-decoration: underline;

  cursor: pointer;
}

#help-contents {
  width: 404px;
  min-height: 402px;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  padding: 10px;

  border: 2px solid black;
  border-top: none;
  font-size: 14px;
  background: white;
}

ol p {
  margin-bottom: 5px;
}

h4 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 10px;
}

#sky {
  width: 400px;
  height: 400px;
  position: relative;
  overflow: clip;

  background: skyblue;
}

#ground {
  width: 400px;
  height: 100px;

  border-top: 2px solid black;

  display: flex;
  justify-content: space-between;
  align-items: end;
}

.ground-col {
  display: flex;
  align-items: end;
  flex-direction: column;
  padding: 10px;
}

.ground-col p {
  margin-bottom: 0;
}

.ground-col p + p {
  margin-top: 5px;
}

#pipe-top {
  width: 50px;
  height: 100px;
  position: absolute;
  left: calc(400px - 52px);

  background: seagreen;
  border: 2px solid black;
  border-top: none;
}

#pipe-bot {
  width: 50px;
  height: 150px;
  position: absolute;
  left: calc(400px - 52px);
  bottom: 0px;

  background: seagreen;
  border: 2px solid black;
  border-bottom: none;
}

#bird {
  height: 25px;
  width: 25px;
  position: absolute;
  top: calc((400px / 2) - (25px / 2) - 30px);
  left: calc((400px / 2) - (25px / 2));

  border: 2px solid black;
  background: lightyellow;
}

#prompt {
  min-width: 200px;
  max-width: 300px;
  /* Not sure why this has to be explicitly set but it does. */
  width: max-content;
  position: absolute;
  top: calc(50% + 40px);
  left: calc(50%);
  transform: translate(-50%, -50%);
  padding: 10px;

  background: white;
  border: 2px solid black;
  text-align: center;

  line-height: 1.4;
}

#prompt p {
  margin-bottom: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }
  #game {
    border-color: white;
  }
  #help summary {
    border-color: white;
  }
  #help-contents {
    background: black;
    border-color: white;
  }
  #sky {
    background: MediumSlateBlue;
  }
  #ground {
    background: black;
    border-color: white;
  }
  #pipe-top {
    background: green;
    border-color: white;
  }
  #pipe-bot {
    background: green;
    border-color: white;
  }
  #bird {
    background: #ff0066;
    border-color: white;
  }
  #prompt {
    background: black;
    border-color: white;
  }
  a {
    color: #84d3f5;
  }
  a:visited {
    color: #cc99ff;
  }
}
